extends base.pug
block links
    link(rel="stylesheet" href="/css/list.css")
block content
    h1 Super blog
    a(href="/add").btn.btn-block Ajouter un article
    for article in articles
        div.card
            div.card-content
                div.row
                    div.col.s11
                        h3.card-title #{article.title}
                        p #{article.content}
                        p #{article.voteupcount}

                    div.col.s1.vote-toggles
                        i(id='vote-up-'+article.id data-id=article.id).fa.fa-caret-up.fa-2x.vote-up
                        p(id='vote-count-'+article.id).vote-count #{article.voteupcount - article.votedowncount}
                        i(id='vote-down-'+article.id data-id=article.id).fa.fa-caret-down.fa-2x.vote-down
                for comment in article.comments
                    div.row
                        p #{comment.content}
                div.row
                    form
                        textarea.materialize-textarea
                        btn(id='add-comment-btn').btn Envoyer
    else
        div Aucun article
block scripts
    script(src="/scripts/vote.js")
